.hallContentInfo > h3 {
    margin-bottom: 29px;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.hallContentInfo > p {
    max-width: 450px;
    margin-bottom: 51px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: var(--text-opacity-color-80);
    opacity: 0.8;
}
