@font-face {
    font-family: generalFont;
    src: url(/local/templates/new_ru/components/bitrix/news.list/news/assets/cea1e8e8a45b9be98eac.ttf) format("truetype")
}

@font-face {
    font-family: boldGeneralFont;
    src: url(/local/templates/new_ru/components/bitrix/news.list/news/assets/0139c8dd0c2e0ebbba4b.ttf) format("truetype")
}

.main-news__text {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    padding: 16px 24px;
    line-height: 25px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.main-news__text span {
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, .6)
}

.main-news__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.main-news__item {
    position: relative;
    height: 300px;
    transition: .3s;
    overflow: hidden;
}

.main-news__item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: .3s;
}

.main-news__item:hover>img {
    transform: scale(1.05);
}

@media (max-width: 1600px) {
    .main-news__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1280px) {
    .main-news__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .main-news__list {
        grid-template-columns: 1fr;
    }
}