
.match__block {
    background: #141414;
    padding: 30px 40px;
    margin-right: 20px;
    cursor: pointer
}

.match__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .02em;
    color: #fff
}

.match__area {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .02em;
    color: rgba(255, 255, 255, .4)
}

.match__versus {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: .02em;
    color: #fff;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: 25px
}

.match__first-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.match__first-team-logo {
    height: 53px
}

.match__first-team-logo img {
    height: 100%
}

.match__second-team-logo {
    height: 53px
}

.match__second-team-logo img {
    height: 100%
}

.match__score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 15%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: .02em;
    color: #fff
}

.match__second-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.match__second-team-name {
    text-align: center
}

.match__button {
    width: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    margin-top: 35px
    
}
.match__button-txt {
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .02em;
    padding-bottom: 6px
}
.match__button-txt-arrow {
    position: absolute;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .02em;
    padding-bottom: 4px;
    margin: 0 5px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 1s opacity, 1s visibility;
    -o-transition: 1s opacity, 1s visibility;
    transition: 1s opacity, 1s visibility;
    color: #fff
}

.match__translation {
    width: 19px;
    height: 19px;
    margin-left: 5px;
    visibility: hidden;
}

.match__button:hover .match__translation {
    visibility: visible;
}

.match__block:hover .match__button-txt-arrow {
    position: relative;
    opacity: 1;
    visibility: visible;
    color: #000
}

#match .block-with-matchs {
    padding: 40px 10px 40px 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

#match .block-with-matchs .block-with-matchs__title-block {
    margin-top: 0 !important
}

@media(max-width: 800px) {
    .block-with-matchs__arrow {
        -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
            transform: rotate(-225deg)
    }

    .block-with-matchs__title-block {
        font-size: 24px;
        line-height: 32px;
        margin-top: 40px;
        margin-bottom: 20px
    }

    .block-with-matchs__arrow {
        font-size: 24px;
        line-height: 32px
    }

    .go-semi-final__swiper button {
        display: none
    }


}

@media (max-width: 768px) {
    #match .block-with-matchs{
        padding: 40px 0px 40px 40px;
    }
}

@media(max-width: 700px) {
    .go-semi-final__swiper button {
        display: none !important
    }
    .block-with-matchs__swiper-block{
        width: 100%;
    }
    #match .block-with-matchs{
        padding: 40px 0px 40px 10px;
    }
}
@media(max-width: 609px) {
    .main-news__item {
        margin: 0
    }
    #match .block-with-matchs{
        padding: 40px 0px 20px 10px;
    }
}
@media(max-width: 400px) {
    #match .block-with-matchs{
        padding: 40px 0px 0px 10px;
    }
}
