.product_category {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
	width: 101%;
}

.product_category_img {
    width: 46%;
    margin-right: 2px;
    overflow: hidden;
}

.product_category_img img {
    width: 100%;
    transition: all 0.3s linear !important;
}

.product_category_img img:hover {
    transform: scale(1.05) !important;
}

.product_category_text {
    background-color: #141414;
    width: 100%;
    position: relative;
    top: -3px;
    font-size: 24px;
    height: auto;
    padding: 17px 20px 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.product_category_img:hover .product_category_text:after {
    content: "→";
    margin-left: 15px;
}


@media (min-width: 1680px) and (max-width: 2000px){
	.product_category_text {
        width: 96%;
    }
}

@media (min-width: 1450px) and (max-width: 1680px){
	.product_category_text {
        width: 96%;
    }
}

@media (max-width: 1280px){
	.product_category_img {
		width: 45%;
	}
	
}

@media (max-width: 520px){
	.product_category {
		display: block;
	}
	.product_category_img {
		width: 90%;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.product_category_img .product_category_text:after {
		content: "→";
		margin-left: 15px;
	}
}

@media (max-width: 380px){
    .product_category {
		display: block;
	}
	.product_category_img {
		width: 90%;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.product_category_img .product_category_text:after {
		content: "→";
		margin-left: 15px;
	}
}

@media (max-width: 320px){
	.product_category {
		display: block;
	}
	.product_category_img {
		width: 90%;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.product_category_img .product_category_text:after {
		content: "→";
		margin-left: 15px;
	}
}