.variable.products_block {
    display:none;
}

.mobile.shop_banner{
    display:none;
}

.shop_banner {
    width: 100%;
    height: auto;
    position: relative;
}

.shop_banner:after {
    content:"";
    background: url(/local/templates/new_ru/img/arrow.png);
    background-size: cover;
    bottom: 40px;
    height: 40px;
    right: 40px;
    width: 40px;
    position: absolute;
}

.shop_banner img {
    width: 100%;
    height: auto;
}

.shop_slider {
    margin-bottom: -180px;
}

.banner_title {
    font-size: 4em;
    font-weight: 700;
    position: relative;
    top: -220px;
    margin-left: 70px;
    width: 46%;
    color: #fff;
}

@media (min-width: 1680px) and (max-width: 2000px){
    .shop_slider {
        background-size: 2000px;
    }
}

@media (min-width: 1450px) and (max-width: 1680px){
    .shop_slider {
        background-size: 1650px;
    }
}

@media (max-width: 1275px){
    .banner_title {
        font-size: 66px;
        top: -242px;
    }
}

@media (max-width: 1150px){
    .banner_title {
        top: -193px;
        font-size: 3.5em;
    }
}

@media (max-width: 1024px){
    .banner_title {
        font-size: 40px;
        top: -230px;
    }
	.shop_banner:after {
        height: 30px;
        width: 30px;
    }
}

@media (max-width: 799px){
    .autoplay.shop_banner{
        display:none;
    }
    .mobile.shop_banner{
        display:block;
        margin-top: 0px;
    }
    .variable {
        display: none;
    }
    .banner_title {
        display:none;
    }
    .shop_banner:after {
        display:none;
    }
}


@media (max-width: 520px){
    .variable {
    display: block !important;
    }
    .autoplay.shop_banner{
        display:none;
    }
    .mobile.shop_banner{
        display:block;
        margin-top: -40px;
    }
    .shop_banner {
    top: 55px;
    }
    .banner_title {
    font-size: 25px;
    width: 57%;
    left: 35px;
    top: -93px;
    margin-left: 0;
    }
    .shop_banner:after {
    bottom: 98px;
    height: 20px;
    width: 20px;
    }
}

@media (max-width: 380px){
    .variable {
    display: block  !important;
    }
    .autoplay.shop_banner{
        display:none;
    }
    .mobile.shop_banner{
        display:block;
    }
    .shop_banner {
    top: 55px;
    }
    .banner_title {
    font-size: 25px;
    width: 57%;
    left: -155px;
    top: -93px;
    margin-left: 0;
    }
    .shop_banner:after {
    bottom: 70px;
    height: 20px;
    width: 20px;
    }
}

@media (max-width: 320px){
    .variable {
    display: block  !important;
    }
    .autoplay.shop_banner{
        display:none;
    }
    .mobile.shop_banner{
        display:block;
    }
    .shop_banner {
    top: 55px;
    }
    .banner_title {
    font-size: 25px;
    width: 67%;
    left: 40px;
    top: -93px;
    margin-left: 0;
    }
    .shop_banner:after {
    bottom: 98px;
    height: 20px;
    width: 20px;
    }
}