.shop__banner-swiper-block {
    position: relative;
    cursor: pointer
}

.shop__switcher {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 52px);
    z-index: 1
}

.shop__switcher-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 30px;
    padding-top: 7px
}

.shop__switcher-dot {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, .4)
}

.shop__switcher-dot--active {
    background: rgba(255, 255, 255, .8)
}

.shop__switcher-dot:not(:last-child) {
    margin-right: 10px
}

.shop__banner-swiper .slick-list .slick-track {
    height: 640px
}

.shop__banner-item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    width: 100%;
    background: url(/local/templates/new_ru/img/shop_banner_image.png) no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0 40px 40px 40px;
    display: flex
}

.shop__banner-title-block {
    max-width: 1920px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%
}
.shop__banner-title {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: .02em;
    color: #fff
}
.shop__banner-arrow {
    font-size: 100px;
    line-height: 100%;
    letter-spacing: .02em;
    color: #fff
}

@media(max-width: 768px) {
    .shop__banner-title {
        font-size: 28px;
        line-height: 32px
    }

    .shop__banner-arrow {
        font-size: 42px;
        line-height: 52px
    }

    .shop__banner-swiper .slick-list .slick-track {
        height: 580px
    }

    .shop__banner-item {
        padding: 20px 20px 40px 20px
    }
}