.results {
    display: grid;
    max-width: 595px;
    justify-content: space-between;
}

.results__title {
    display: none
}

.results__block {
    display: grid;
    grid-template-columns: minmax(50px, 10%) 1fr;
    align-items: center;
    gap: 16px;
}


.results__image img {
    height: 100%
}

.results__txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .02em;
    color: #fff;
}

.results__place {
    line-height: 22px;
    font-weight: 600
}

.go-news__progress-background.orange,
.go-tournament__progress-background.orange {
    background: url(/local/templates/new_ru/img/bull_orang.png) no-repeat;
    background-size: 278px;
    height: 278px;
    width: 100%;
    background-position-x: center;
}